@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.nav-menu {
  transition: 1050ms;
  max-width: 12rem;
}



.nav-menu.active {
  margin-left: 0;
  transition: 350ms;
}

.deactive {
  display: none;
  transition: 1050ms;
}

.navbar-toggler {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  font-size: 1.5em;
  margin-left: 2px;
}

.menu-close {
  font-size: 1.5em;
  font-weight: bold;
}

.wrapper {
  width: 100%;
}

.image-div {
  min-height: 192px;
}

.specifications,
.reservations {
  font-family: 'Dongle', sans-serif;
  font-size: 1.5em;
}

.display {
  min-height: 200px;
}

.display:hover {
  box-shadow: 5px 7px 10px rgba(0,0,0,0.1);
}